#attractor-target {
  height: 20em;
  overflow: hidden;
  position: relative;

  > span {
    background-color: transparentize(#48799c, 0.5);
    border-radius: 50%;
    position: absolute;
    left: -100%;
    top: -100%;
  }
}
